@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primaryBackground: #193b53;
  --secondaryBackground: #22403d;
  --primaryColor: #beb07b;
  --greyDark: #7d8792;
  --headingColor: #561b1f;
  --white: #bc2b2b;
  --black: #000;
  --sliver: #bac8d3;
}
/* 
#22403d 
#561b1f
#beb07b

*/

body {
    background-color: var(--headingColor);
    color: var(--white);
    font-family: "Poppins", sans-serif;
    
}

a{
    color: var(--greyDark);
    text-decoration: none;
    transition: 0.5s;

}
a:hover{
    color: var(--white);
    
}

.headerimg{
    max-width: 120px;
    color: wheat;
    margin-top: 10px;
    margin-left: -60px;
}

p{
    color: var(--sliver);
    font-size: 18px;
    line-height: 30px;
    margin: 20px 0;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}

.container{
    max-width: 80% ;
    margin: auto;
    
}

.flexsb{
    display: flex;
    justify-content: space-between;
    
}

button{
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
    background-color: var(--primaryColor);
    color: var(--white);
    padding: 15px 50px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 50px;

}

.primaryBtn{
    background: none;
    border: 2px solid var(--primaryColor);
}



/**Header */

header{
    background-color: var(--primaryColor);
    height: 10vh;
    line-height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    width: 1017px;
    z-index: 1000;
    margin-left: -9px;
    margin-top: -15px;
}

header a {
    margin-left: 40px;
}

.link{
    font-size: 20px;
}

.togglebtn{
    cursor: pointer;
    color: var(--white);
    display: none;
}

@media screen and (max-width: 768px){
    header .nav{
        display: none;
    }
    header a{
        width: 100%;
        display: block;
        color: var(--white);
    }
    .togglebtn{
        display: block;
        background: none;
        font-size: 25px;
        margin-right: 120px;
        margin-top: 4px;
        padding: 0;
        margin-left: -20px;
        padding-top: 15px;
    }
    header{
      height: 7vh;
    }

    .hideMenu{
        display: block;
        position: absolute;
        top: 10vh;
        left: 0;
        
        width: 100%;
        background-color: var(--headingColor);
    }

   
}


/**Header */


section{
    height: 90vh;
    display: flex;
    align-items: center;
}

.flex{
    display: flex;
    
}

/**Hero */

.hero{
    position: relative;
}



.hero::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./assets/port/3d.jpg');
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 90vh;

}

.heroContainer{
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.hero h1{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
    font-weight: 600;
    color: var(--primaryColor);

}


/**Hero */

.heading{
    font-size: 30px;
    color: var(--primaryColor);
    margin-bottom: 60px;
    text-align: center;
    font-weight: 600;

}

/**About */

.about .primaryBtn{
    margin-left: 20px;
    width: 100px;
    height: 30px;
    padding: 0;

}

.about .primaryBtn:hover{
  color: #ffffff;
  background-color: var(--primaryColor);
}

.fiverr{
  margin-left: 20px;
    width: 200px;
    height: 30px;
    padding: 0;
    background-color: var(--headingColor);
    border: var(--primaryColor) 2px solid;
    padding: 0;
  
}
.about .fiverr:hover,
.about .fiverr a:hover{
  color: #ffffff;
  background-color: var(--primaryColor);
}
.about{
  height: 90vh;
}


.about .right p{
  font-size: 15px;
}

.about .heading{
    text-align: left;
    margin: 0;
}

.left{
    width: 35%;
}

.right{
    width: 65%;
}

/**About */

.grid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    
}

/**Services */

.services .box{
    background-color: var(--primaryBackground);
    padding: 18px;
}



.services .box{
  width: 23vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.services img{
 width: 60px;
 height: 60px;
  margin: auto;
}


.services .box p{
    font-size: 13px;
}

.services{
    color: var(--primaryColor);
    margin-top: 50px;
    height: 160vh;
    margin-left: -47px;
}

.services .heading{
    font-size: 50px;
}

.services .box h3{
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 600;
    color: var(--white);
    text-align: center;

}



/**Services */

.grid4{
    grid-template-columns: repeat(4, 1fr);
    height: 50vh;
    place-items: center;
    text-align: center;

}



/**article */


.article{
    margin-top: 150px;
    margin-bottom: 80px;
    height: 100vh;
}

article img{
    width: 100%;
    height: 100%;
}

article .box{
    position: relative;
    transition: 0.5s;
}



 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s;
    display: flex;
    cursor: pointer; 
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    align-items: center;
    
} 

 .overlay::after{
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
    
} 

article .box:hover .overlay,
article .box:hover .overlay::after{
    opacity: 1;
}


/**article */












/* contact */

.contact {
    margin: 50px 0;
  }
  .contact .right,
  .contact .left {
    padding: 20px;
  }
  .contact .flex input:nth-child(1) {
    margin-right: 10px;
  }
  .contact button,
  .contact textarea,
  .contact input {
    width: 479px;
    padding: 20px;
    border: none;
    outline: none;
    margin: 10px 0;
    border-radius: 5px;
    font-style: italic;
  }

  /* .contact .right button:hover{
    color: #ffffff;
    background-color: var(--headingColor);
  } */

/* contact */



/* footer */

footer {
    text-align: center;
    background-color: var(--primaryBackground);
    padding-top: 45px;
    margin-top: 50px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -8px;
    margin-left: -25px;
    width: 100vw;
    
    
   
    /* height: 20vh; */
  }

  footer i {
    margin: 5px;
    color: var(--primaryColor);
    height: 20px;
    width: 20px;
  }

  footer p{
    color: white;
  }


.change{
    font-size: 30px;
    font-weight: 1000;
    color: brown;
}
footer .social-icon{
  font-size: 30px;
  margin: 0 10px;
}

footer .fiverr{
  margin-top: 8px;
}





/* footer */



/* @media screen and (max-width: 1281px) and (max-height: 801px){
  .about .right p{
    font-size: 18px;
  }
  .about .right a{
    font-size: 17px;
  }
  .about .right .primaryBtn{
    font-size: 17px;
  }
  .about{
    height: 60vh;
  }
  .services{
    height: 85vh;
  }
  .article{
    height: 70vh;
  } */
  /* .contact .right button{
    top: 20%;
  } 
}*/



@media screen and (width: 1280px) and (height: 800px){
  header{
    width: 100vw;
  }
  .contact .right input{
    width: 630px;
  }
  .contact .right textarea{
    width: 630px;
  }
  .contact .right button{
    width: 630px;
  }
}


@media screen and (max-width: 913px){
  header{
    width: 100vw;
    height: 8vh;
    line-height: 8vh;
  }
  .about{
    height: 77vh
  }
  .about .right p{
    font-size: 25px;
  }
  .about .right .heading{
    font-size: 45px;
  }
  .about .fiverr{
    height: 50px;
  }
  .about .fiverr a{
    font-size: 23px;
  }
  .services{
    height: 74vh;
    margin-left: -42px;
  }
  .about .primaryBtn{
    height: 50px;
    font-size: 25px;
    width: 200px;
  }
  article{
    height: 75vh;
    margin-top: 60px;
  }
  .contact{
    height: 74vh;
  }
  footer{
   width: 100vw;
   margin-left: -6px;
  }
  .contact .right input{
    width: 440px;
  }
  .contact .right textarea{
    width: 440px;
  }
  .contact .right button{
    width: 440px;
  }
  

}


@media screen and (max-width: 821px){
  .about{
    height: 90vh
  }
  .about .right p{
    font-size: 21px;
  }
  .about .right .heading{
    font-size: 48px;
  }
  .services{
    height: 90vh;
    margin-left: -40px;
  }
  .services .box h3{
    font-size: 16px;
  }
  header{
    width: 100vw;
    height: 8vh;
    line-height: 8vh;
    margin-left: 0px;
  }
  footer{
    width: 100vw;
    margin-left: 0px;
  
  }


  .contact{
    height: 70vh;
  }
  .contact input{
    width: 380px;
  }
  .contact .right textarea{
    width: 400px;
  }
  .contact .right input{
    width: 400px;
  }
  .contact .right button{
    width: 400px;
  }
  article {
    height: 80vh;
  }
}


@media screen and (max-width: 769px) {
    .hero {
      height: 60vh;
    }
    .heroContent {
      max-width: 80%;
    }
  
    .hero::after {
      background-image: url("3d.jpg");
      background-size: cover;
      object-fit: cover;
      width: 100%;
      height: 60vh;
    }
    section {
      height: auto;
      padding-top: 50px;
    }
    .services{
      height: 80vh;
    }
    .contact .flexsb,
    .about .flex {
      flex-direction: column;
    }
    .contact form{
      display: flex;
      flex-direction: column;
    }
    .right,
    .left {
      width: 100%;
    }
    
    .contact .right{
      padding-top: 0px;
      padding-bottom: 0px;
    }
    
    .grid4,
    .grid3 {
      grid-template-columns: repeat(2, 1fr);
    }

    article {
      margin: 0;
      padding-bottom: 50px;
      height: 110vh;
    }
    .contact input{
      width: 575px;
    }
    .contact .right textarea{
      width: 575px;
    }
    .contact .right input{
      width: 575px;
    }
    .contact .right button{
      width: 575px;
    }
  }



.port{
    margin-top: 30px;
    font-size: 50px;
    color: var(--primaryColor);
    margin-bottom: 60px;
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width: 541px){
  .services{
    height: 100vh;
  }
  .services .heading{
    margin-bottom: 12px;
  }
  article{
    margin-top: 100px;
  }
  article .port{
    margin-bottom: 28px;
  }
  .contact{
    margin-top: 60px;
  }
  .contact .heading{
    margin-bottom: 12px;
  }
  .contact input{
    height: 13px;
    width: 380px;
    
  }
  .contact .right .flex input{
    width: 210px;
    height: 37px;
    padding: 10px;
  }
  
  .contact .right input{
    width: 395px;
    padding: 10px;
    height: 40px;
  }
  .contact .container{
    margin: 0;
    margin-left: 20px;

  }
  
  
  .contact .right textarea{
    height: 125px;
    width: 395px;
  }
  .contact .right button{
    height: 14px;
    padding: 25px;
    padding-top: 11px;
    margin-bottom: 0;
    width: 400px;
  }
} 


@media screen and (max-width: 415px){
  .services .box img{
    width: 40px;
    height: 40px;
  }
  .services{
    margin-left: 0;
  }
  
  .services .box h3{
    font-size: 13px;
  }
  .about{
    height: 84vh;
  }
  .about .right p{
    font-size: 18px;
  }
  header{
    width: 100vw ; 
    margin-right: -9px;
  }
  footer{
    width: 100vw;
    margin-left: -10px;
  }
  article{
    height: 80vh;
  }
  /* .contact button, .contact input, .contact textarea{
    width: 252px;

  } */
  .contact{
    margin-top: 100px;
    height: 60vh;
  }
  .contact .right .flex input{
    width: 130px;
    height: 37px;
    padding: 10px;
  }
  
  .contact .right input{
    width: 290px;
    padding: 10px;
    height: 40px;
  }
  .contact .right textarea{
    width: 270px;
  }
  .contact .right button{
    width: 300px;
  }

  .contact .text_email{
    width: 100px;
  }
  
}

@media screen and (max-width: 394px){
  .services .box h3{
    font-size: 11px;
  }

  .hero h1{
    font-size: 20px;
    line-height: 40px;
  }
  .hero h3{
    font-size: 18px;
  }

  .contact .text_email{
    width: 100px;
  }
  footer{
    width: 100vw;
    margin-left: -4px;
  }
  header{
    width: 100vw;
  }
}
@media screen and (max-width: 376px){
  header{
    width: 100vw;
    margin-left: -7px;
  }
  .about{
    height: 90vh;
    padding-top: 20px;
  }
  .contact .right textarea{
    height: 100px;
    width: 270px;
   
  }
  .contact .right .flex input{
    width: 130px;
    height: 40px;
    padding: 10px;
  }
  .contact .right input{
    width: 290px;
  }
  .contact .left p{
    margin-top: 10px;
  }
  .togglebtn{
    margin-top: -4px;
  }
  .about .right p{
    font-size: 15px;
  }

  .about{
    height: 100vh;
  }
  .about .right .heading{
    font-size: 30px;
  }
  .about .right .primaryBtn{
    width: 130px;
    height: 32px;
  }
  .about .right .fiverr{
    height: 42px;
  }
  .contact {
    margin-bottom: 0;
    height: 80vh;
    margin-left: -20px;
  }
  
  .contact .container{
    margin-top: 45px;
  }
  .contact .text_email{
    width: 100px;
  }

  footer{
    margin: 0px;
    width: 100vw;
    margin-left: -5px;
    
  }
  
  
}


@media screen and (max-width: 361px){
  footer{
    width: 100vw;
  }
  header{
    width: 100vw;
    margin-left: -11px;
  }
  
}

@media screen and (max-width: 281px){
  .heading{
    font-size: 23px;
  }
  .about .right p{
    font-size: 13px;
  }
  .about{
    height: 100vh;
  }
  .about .right .fiverr{
    height: 32px;
  }

  .services .heading{
    font-size: 23px;
  }
  .services{
    padding: 0;;
  }
  .services .box{
    padding-top: 8px 8px;
  }

  .services .box img{
    width: 20px;
    height: 20px;
  }
  .services .box h3{
    font-size: 8px;
  }
 
  article .port{
    font-size: 23px;
  }
  .contact .right .flex input{
    width: 100px;
    height: 25px;
  }

  .contact .right textarea{
    height: 100px;
    width: 190px;
  }
  .contact .right input{
    width: 208px;
    height: 25px;
  }
  .contact .right button{
    width: 230px;
  }
  .contact .left p{
    margin-left: -20px;
    font-size: 13px;
    margin-top: 1px;
  }
  footer .fiverr{
    height: 50px;
  }
  .contact .text_email{
    width: 50px;
  }
  .contact input{
    width: 150px;
  }
}

